p {
    word-break: keep-all;
}

.slick-track,
.slick-list {
    transition-delay: 0.03s;
}

// Header 시작

.header {
    line-height: 80px;
    box-shadow: 0 0 1px #000;

    .inner {
        display: flex;
        width: 1200px;
        margin: 0 auto;
        justify-content: space-between;

        .gnb {
            >ul {
                display: flex;
                gap: 30px;

                >li {
                    font-size: 18px;
                }
            }
        }
    }
}

// Header 종료

// MainVisual 시작

.mainVisual {
    position: relative;
    min-width: 1200px;

    .itm {
        position: relative;
        height: 600px;

        .inner {
            width: 1200px;
            margin: 0 auto;
            color: #fff;

            .tit {
                position: absolute;
                inset: 25% auto auto 50%;
                transform: translate(-50%, 0);
                width: 1200px;
                text-shadow: 0 0 3px #000;

                p {
                    font-size: 20px;
                    margin: 0 0 10px 0;
                }

                h2 {
                    font-size: 50px;
                    font-weight: 700;
                }
            }
        }
    }

    .arrows {
        position: absolute;
        inset: 50% auto auto 50%;
        text-shadow: 0 0 2px #000;
        font-size: 50px;
        color: #fff;
        cursor: pointer;

        .left {
            position: absolute;
            margin: 0 0 0 -700px;
            transform: translate(-50%, -50%);
        }

        .right {
            position: absolute;
            margin: 0 0 0 700px;
            transform: translate(-50%, -50%);
        }
    }

    @for $i from 1 to 4 {
        .itm0#{$i} {
            background: url(../../public/img/mainvisual0#{$i}.jpg) no-repeat center center/cover;

        }
    }
}

// MainVisual 종료

// MainContent 시작

.mainContent {
    padding: 100px 0;

    .inner {
        width: 1200px;
        margin: 0 auto;

        .tit {
            text-align: center;
            margin: 0 0 40px 0;

            h2 {
                font-size: 35px;
                font-weight: 700;
                margin: 0 0 10px 0;
            }

            p {
                font-size: 15px;
                line-height: 21px;
            }
        }

        ul {
            display: grid;
            gap: 30px;
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

// MainContent 끝

//sub01 시작 

.sub01 {
    padding: 100px 0;

    .inner {
        width: 1200px;
        margin: 0 auto;

        .tit {
            margin: 0 0 40px 0;

            h2 {
                font-size: 35px;
                font-weight: 700;
                margin: 0 0 10px 0;
            }

            strong {
                font-size: 18px;
                font-weight: 500;
            }
        }

        .greetings {
            display: flex;
            gap: 50px;

            figure {
                flex: 1;

                img {
                    width: 100%;
                }
            }

            .text {
                padding: 5px 0 0 0;
                flex: 1;

                p {
                    margin: 0 0 20px 0;
                    line-height: 24px;
                    font-weight: 300;
                }
            }
        }
    }
}

//sub01 끝

//sub02 시작

.sub02 {
    padding: 30px 0 100px 0;

    .inner {
        width: 1200px;
        margin: 0 auto;

        .top_bg {
            position: relative;
            background: url(../../public/img/sub02_01.jpg)no-repeat center center/cover;
            height: 350px;
            margin: 0 0 70px 0;

            span {
                position: absolute;
                inset: 0 0 auto auto;
                display: block;
                padding: 15px 30px;
                background: #000;
                color: #fff;
                font-size: 20px;
            }
        }

        .tit {
            margin: 0 0 40px 0;

            h2 {
                font-size: 35px;
                font-weight: 700;
                margin: 0 0 10px 0;
            }

            strong {
                font-size: 18px;
                font-weight: 500px;
            }
        }

        .sub_tit {
            margin: 0 0 40px 0;

            h3 {
                font-size: 20px;
                font-weight: 500;
                margin: 0 0 15px 0;
            }

            p {
                line-height: 1.3;
                font-size: 15px;
                font-weight: 300;
            }
        }

        .SubSlideWrap {
            position: relative;
            width: 80%;
            margin: 0 auto 60px auto;

            .slideWrap {
                margin: 0 0 30px 0;

                .subSlide {
                    .itm {
                        figure {
                            margin: 0 0 20px 0;

                            img {
                                width: 100%;
                                object-fit: cover;
                            }
                        }

                        span {
                            display: block;
                            text-align: center;
                            font-size: 15px;
                        }
                    }
                }

                .arrows {
                    position: absolute;
                    inset: 50% auto auto 50%;
                    font-size: 40px;
                    cursor: pointer;

                    .left {
                        position: absolute;
                        margin: 0 0 0 -550px;
                        transform: translate(-50%, -50%);
                    }

                    .right {
                        position: absolute;
                        margin: 0 0 0 550px;
                        transform: translate(-50%, -50%);
                    }
                }
            }

            .dots {
                display: flex;
                justify-content: center;
                gap: 10px;
                text-align: center;

                >li {
                    >button {
                        width: 20px;
                        height: 20px;
                        font-size: 0;
                        border: 2px solid #444;
                        border-radius: 50%;
                        background: none;
                    }

                    &.on {
                        button {
                            background: #372c8b;
                            border: none;
                        }
                    }
                }

            }

        }



        .desc {
            p {
                line-height: 1.3;
                font-weight: 300;
                font-size: 15px;
                margin: 0 0 20px 0;
            }
        }
    }
}

//sub02 끝

//sub03 시작

.sub03 {
    padding: 100px 0;

    .inner {
        width: 1200px;
        margin: 0 auto;

        .tit {
            margin: 0 0 40px 0;

            h2 {
                font-size: 35px;
                font-weight: 700;
                margin: 0 0 10px 0;
            }

            strong {
                display: block;
                font-size: 18px;
                font-weight: 500;
                margin: 0 0 20px 0;
            }

            span {
                display: block;
                margin: 0 0 20px 0;
            }

            p {
                font-size: 15px;
                line-height: 1.3;
                font-weight: 300;
            }
        }

        .brochure {
            display: flex;
            margin: 0 0 40px 0;
            background: url(../../public/img/br_bg.jpg) no-repeat 100% 100%;

            .down {
                width: 40%;
                text-align: center;

                a {
                    display: inline-block;
                    padding: 15px 80px 14px 20px;
                    margin: 20px 0 0 0;
                    background: #372c8b url(../../public/img/btn_bg_down.png) no-repeat 90% 50%;
                    color: #fff;
                    font-size: 14px;
                }
            }
        }

        span {
            display: block;
            font-size: 14px;
            font-weight: 300;

            img {
                margin: 0 10px 0 0;
            }
        }
    }
}

//sub03 끝

// Footer 시작

.footer {
    padding: 50px 70px;
    background: #333;
    color: #fff;

    .inner {
        width: 1200px;
        margin: 0 auto;
        font-size: 14px;

        ul {
            position: relative;
            display: flex;
            justify-content: center;
            gap: 20px;

            margin: 0 0 40px 0;

            li:first-child {
                font-weight: 700;
            }

            ::before {
                content: "";
                position: absolute;
                inset: auto auto -20px 0;
                width: 100%;
                height: 1px;
                background: #5c5c5c;
            }
        }

        .desc {
            text-align: center;

            p,
            em,
            address {
                margin: 0 0 10px 0;
            }

            em {
                display: block;
            }
        }
    }
}

// Footer 끝