// Header 시작

.header {
    line-height: 80px;
    box-shadow: 0 0 1px #000;

    .inner {
        display: flex;
        width: 1200px;
        margin: 0 auto;
        justify-content: space-between;

        .gnb {
            >ul {
                display: flex;
                gap: 30px;

                >li {
                    font-size: 18px;
                }
            }
        }
    }
}

// Header 종료

// MainVisual 시작

.mainVisual {
    position: relative;
    min-width: 1200px;

    .itm {
        position: relative;
        height: 600px;

        .inner {
            width: 1200px;
            margin: 0 auto;
            color: #fff;

            .tit {
                position: absolute;
                inset: 25% auto auto 50%;
                transform: translate(-50%, 0);
                width: 1200px;
                text-shadow: 0 0 3px #000;

                p {
                    font-size: 20px;
                    margin: 0 0 10px 0;
                }

                h2 {
                    font-size: 50px;
                    font-weight: 700;
                }
            }
        }
    }

    .arrows {
        position: absolute;
        inset: 50% auto auto 50%;
        text-shadow: 0 0 2px #000;
        font-size: 50px;
        color: #fff;
        cursor: pointer;

        .left {
            position: absolute;
            margin: 0 0 0 -700px;
            transform: translate(-50%, -50%);
        }

        .right {
            position: absolute;
            margin: 0 0 0 700px;
            transform: translate(-50%, -50%);
        }
    }

    @for $i from 1 to 4 {
        .itm0#{$i} {
            background: url(../../public/img/mainvisual0#{$i}.jpg) no-repeat center center/cover;

        }
    }
}